ATTENTION :

Ce système est réservé à l'usage des utilisateurs autorisés uniquement.
Toute personne utilisant ce système informatique sans autorisation ou dépassant les limites
de son autorisation est susceptible de voir l'intégralité de ses activités sur ce système
surveillée et enregistrée par le personnel du système.

Tout utilisateur de ce système accepte expressément une telle surveillance et est informé
que si cette surveillance révèle des éléments pouvant constituer une activité criminelle,
le personnel du système peut transmettre ces preuves aux autorités compétentes chargées de l'application de la loi.

