# {{ ansible_managed }}

#!/bin/bash
# -*- coding: utf-8 -*-

#==============================================================================
# Titre            : banniere.sh
# Description      : Script d'affichage d'informations pour serveur.
# Auteur           : MELONI Sébastien
# Date             : 08/04/2020
# Modification     : 17/06/2020
# Version          : 1.00
# Utilisation      : ./banniere.sh
# Notes            : Ce script est installé par ansible et permet l'affichage
#                    d'informations sur le serveur lors d'une connexion ssh.
# Version de bash  : 4.2.46
#==============================================================================

# Affichage de la bannière
clear

#figlet -f {{ chemin_polices }}/banner3-D.flf $(hostname -s) -w 1080
#echo ""
# echo ""

# Affichage d'un rappel des régles.
echo "::::::::::::::::::::::::::::::::::-REGLES-:::::::::::::::::::::::::::::::::::::::"
echo "Ce système est privé. Si vous n'êtes pas un utilisateur autorisé, veuillez"
echo "vous déconnecter de celui-ci. Toutes les actions sont tracées et aucune"
echo "action ne peut être effectuée sans autorisation de l'administrateur."
echo "Toute connexion non autorisée entrainera une plainte auprès des services"
echo "de police."
echo "Aucun fichier ou programme illégal ne doit être stocké sur ce serveur."
echo "Si vous avez un doute sur votre droit à la connexion sur ce serveur, rapprochez-vous"
echo "d'une personne de l'association."
echo ":::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::"
# echo ""
# echo ""

# Affichage d'un message d'accueil
#echo "Bonjour" $(logname)", nous sommes le "$(date "+%A %d %B %Y") "et il est" $(date "+%T")"."
cowthink -f yoda "Bonjour" $(logname)", vous est sur " $(hostname -s)". Nous sommes le "$(date "+%A %d %B %Y") "et il est" $(date "+%T")"."
echo ""
# echo ""
