#!/bin/bash
# -*- coding: utf-8 -*-

#==============================================================================
# Titre            : changenom.sh
# Description      : Script de modification d'hostname.
# Auteur           : Sébastux
# Date             : 22/01/2023
# Modification     : 22/01/2023
# Version          : 1.00
# Utilisation      : ./changenom.sh
# Notes            : Ce script est destiné à être lancé par ansible pour
#                    la modification d'hostname.
# Version de bash  : 5.2.15(1)-release
#==============================================================================

hostnamectl set-hostname {{ fqdn_machine | default('default_name') }}
hostnamectl set-deployment {{ status_machine | default('staging') }}
hostnamectl set-location "{{ commentaire | default('ici') }}"
{% if xfce_svce.stat.exist is sameas false %}
hostnamectl set-chassis "server"
hostnamectl set-icon-name "network-server"
{% else %}
hostnamectl set-chassis "desktop"
hostnamectl set-icon-name "user-desktop"
{% endif %}
